<%- include ('layouts/header') %>
<div class="wrapper">
  <%- include('./layouts/sidebar') %>
  <div class="content">
    <h1 id="id2" class="table">Medecins</h1>

<form id="searchForm" action="/user/doctors" method="GET">
  <input id="searchInput" type="text" name="search" placeholder="Search by Name, Specialization, or City" value="<%= searchQuery || '' %>">
  <button type="submit">Search</button>
</form>

<table class="table">
  <thead>
    <th>Name</th>
  
    <th>email</th>
    <th>specialization</th>
    <th>city</th>
  </thead>
  <tbody>
    <% doctors.forEach(doctor => { %>
    <tr>
      <td><%= doctor.firstName %> <%= doctor.lastName %> </td>
      <td><a href="/user/doctor/<%= doctor.email %>"><%= doctor.email %></a></td>
      <td><%= doctor.specialization %> </td>
      <td><%= doctor.city %> </td>
     
</tr>
<% }) %>
</tbody>
</table>
<script>
  window.addEventListener('DOMContentLoaded', () => {
      const searchInput = document.getElementById('searchInput');
      const searchParams = new URLSearchParams(window.location.search);
      const searchQuery = searchParams.get('search');

      if (searchQuery) {
          searchInput.value = searchQuery;
      }
  });
</script>

<%- include ('layouts/footer') %>
