<%- include ('layouts/header') %>
<div class="wrapper">
  <%- include('./layouts/sidebar') %>
  <div class="content">
    <h1 id="id2" class="table">Medecins</h1>

    <form id="search" action="/user/doctors" method="GET">
        <input type="text" name="search" placeholder="Recherchez par nom, spécialité, ou ville">
        <button type="submit">Rechercher</button>
    </form>

    <table class="table">
      <thead>
        <th>Nom</th>
      
        <th>Email</th>
        <th>Spécialité</th>
        <th>Ville</th>
      </thead>
      <tbody>
        <% doctors.forEach(doctor => { %>
        <tr>
          <td><%= doctor.firstName %> <%= doctor.lastName %> </td>
          <td><a href="/user/doctor/<%= doctor.email %>"><%= doctor.email %></a></td>
          <td><%= doctor.specialization %> </td>
          <td><%= doctor.city %> </td>
        
    </tr>
    <% }) %>
    </tbody>
    </table>
  </div>
</div>
<%- include ('layouts/footer') %>
