<%- include('./layouts/header') %>  

<div class="profile">
    <form action="/user/save" method="post">
    <div>
      <p class="title">First Name</p>
      <input class="subtitle" name="firstName" value="<%= person.firstName %>">
    </div>
    <div>
      <p class="title">Last Name</p>
      <input class="subtitle" name="lastName" value="<%= person.lastName %>">
    </div>
    <div>
      <p class="title">Email</p>
      <input name="email" value="<%= person.email %>" readonly>
    </div>
    <% if (!patient && !doctor) { %>
      <button class="save" type="submit">Save</button>
      <button class="cancel"><a href="/user/profile" >cancel</a></button>
     
    <% } %>
      
      <% if (patient) { %>
        <div>
          <p class="title">Birthdate</p>
          <% if (condition4) { %>
            <input class="subtitle" name="birthdate" value="<%= patient.birthdate.toLocaleDateString('en-GB') %>">
          <% } else { %>
            <input class="subtitle" name="birthdate" value="<%= patient.birthdate %>">
          <% } %>
          
        </div>
        <div>
          <p class="title">City</p>
          <input class="subtitle" name="city" value="<%= patient.city %>">
        </div>
        <div>
          <p class="title">Weight</p>
          <input class="subtitle" name="weight" value="<%= patient.weight %>">
        </div>
        <div>
          <p class="title">Height</p>
          <input class="subtitle" name="height" value="<%= patient.height %>">
        </div>
        <div>
          <p class="title">Bloodtype</p>
          <input class="subtitle" name="bloodType" value="<%= patient.bloodtype %>">
          <button class="save" type="submit">Save</button>
      <button class="cancel"><a href="/user/profile" >cancel</a></button>
        </div>
      <% } else if (doctor) { %>  
        <div>
          <p class="title">City</p>
          <input class="subtitle" name="city" value="<%= doctor.city %>">
        </div>
        <div>
          <p class="title">Specialization</p>
          <input class="subtitle" name="specialization" value="<%= doctor.specialization %>">
        </div>
        <div>
          <p class="title">Years of experience</p>
          <input class="subtitle" name="experience" value="<%= doctor.experience %>">
        </div>
       
        <div id="availabilityInputs">
          <p class="title">Availability</p>
          <!-- Day of the Week Selection -->
          <label for="dayOfWeek">Choose Day of the Week:</label>
          <select id="dayOfWeek" name="daysOfWeek[]">
              <% const daysOfWeek = ['Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi', 'Dimanche']; %>
              <% daysOfWeek.forEach(day => { %>
                  <option value="<%= day %>"><%= day %></option>
              <% }); %>
          </select>
  
          <!-- Start Time Input -->
          <label for="startTime">Start Time:</label>
<select id="startTime" name="startTimes[]">
    <option value="00:00">00:00</option> <!-- Special case for midnight -->
    <% for (let hour = 0; hour < 24; hour++) { %>
        <% for (let minute = 0; minute < 60; minute += 30) { %>
            <% const paddedHour = hour.toString().padStart(2, '0'); %>
            <% const paddedMinute = minute.toString().padStart(2, '0'); %>
            <option value="<%= paddedHour %>:<%= paddedMinute %>"><%= paddedHour %>:<%= paddedMinute %></option>
        <% } %>
    <% } %>
</select>

<label for="endTime">End Time:</label>
<select id="endTime" name="endTimes[]">
    <option value="00:00">00:00</option> <!-- Special case for midnight -->
    <% for (let hour = 0; hour < 24; hour++) { %>
        <% for (let minute = 0; minute < 60; minute += 30) { %>
            <% const paddedHour = hour.toString().padStart(2, '0'); %>
            <% const paddedMinute = minute.toString().padStart(2, '0'); %>
            <option value="<%= paddedHour %>:<%= paddedMinute %>"><%= paddedHour %>:<%= paddedMinute %></option>
        <% } %>
    <% } %>
</select>
  
          <!-- Add Button -->
          <button type="button" onclick="addAvailability()">Add Availability</button>
      </div>
  
      <!-- Selected Availability Display -->
      <ul id="selectedAvailability"></ul>
      <div id="checkboxesd"></div>
      <div id="checkboxest"></div>
      <div id="checkboxese"></div>
  
     
      <button class="save" type="submit">Save</button>
      <button class="cancel"><a href="/user/profile" >cancel</a></button>
    </form>
    <div>
      
      <div>
      
        <ul id="availabilityList">
          <% sortedAvailability.forEach((slot, index) => { %>
              <li>
                  <span><%= slot.dayOfWeek %> :</span>
                  <ul>
                      <% for (let i = 0; i < slot.startTimes.length; i++) { %>
                          <li>
                            <form class="deleteSlotForm" action="/user/delete-slot" method="post">
                                <span><%= slot.startTimes[i] %> - <%= slot.endTimes[i] %></span>
                                  <input type="hidden" name="id" value="<%= doctor.email %>" />
                                  <input type="hidden" name="slotId" value="<%= slot._id %>" />
                                  <input type="hidden" name="startTime" value="<%= slot.startTimes[i] %>" />
                                  <input type="hidden" name="endTime" value="<%= slot.endTimes[i] %>" />
                                  <button class="deleteSlot">Delete</button>
                              </form>
                          </li>
                      <% } %>
                  </ul>
              </li>
          <% }) %>
      </ul>
    </div>
    </ul>
    </div>
  </div>
  
  <script>

    

    function addAvailability() {
      const selectedAvailability=document.getElementById("selectedAvailability")
        
      // console.log(doctor.availability)
          // Get selected day of the week and start time
          const dayOfWeek = document.getElementById('dayOfWeek').value;
          const startTime = document.getElementById('startTime').value;
          const endTime = document.getElementById('endTime').value;
         
  
          // Create list item with day and start time
          const listItem = document.createElement('li');
          listItem.textContent = `${dayOfWeek}: ${startTime}-${endTime}`;
          // Create list item with day and start time
          const checkboxItemd = document.createElement('input');
          checkboxItemd.type = 'checkbox';
          checkboxItemd.id = 'daysOfweek';
          checkboxItemd.name = 'daysOfweekArray[]';
          checkboxItemd.value = `${dayOfWeek}`;
          checkboxItemd.checked=true;
          checkboxItemd.style.display = 'none';
          const checkboxItemt = document.createElement('input');
          checkboxItemt.type = 'checkbox';
          checkboxItemt.id = 'startTime';
          checkboxItemt.name = 'startTimesArray[]';
          checkboxItemt.value = `${startTime}`;
          checkboxItemt.checked=true;
          checkboxItemt.style.display = 'none';
  
          const checkboxIteme = document.createElement('input');
          checkboxIteme.type = 'checkbox';
          checkboxIteme.id = 'endTime';
          checkboxIteme.name = 'endTimesArray[]';
          checkboxIteme.value = `${endTime}`;
          checkboxIteme.checked=true;
          checkboxIteme.style.display = 'none';
  
          // Create delete button
          const deleteButton = document.createElement('button');
          deleteButton.textContent = 'Delete';
          deleteButton.addEventListener('click', function() {
              // Remove the corresponding list item when delete button is clicked
              listItem.remove();
              checkboxItemd.remove();
              checkboxItemt.remove()
              checkboxIteme.remove()
          });
  
          // Append delete button to the list item
          listItem.appendChild(deleteButton);
  
          // Append list item to the selected availability list
          
          const checkboxesd = document.getElementById('checkboxesd');
          const checkboxest = document.getElementById('checkboxest');
          const checkboxese = document.getElementById('checkboxese');
          selectedAvailability.appendChild(listItem);
          checkboxesd.appendChild(checkboxItemd);
          checkboxest.appendChild(checkboxItemt);
          checkboxese.appendChild(checkboxIteme);
         
          
      }
  </script>
      <% } %>
     
          
      
<%- include('./layouts/footer') %>