<%- include('./layouts/header') %>  
<div class="profile">
    <form action="/user/save" method="post">
    <div>
      <p class="title">First Name</p>
      <input class="subtitle" name="firstName" value="<%= user.firstName %>">
    </div>
    <div>
      <p class="title">Last Name</p>
      <input class="subtitle" name="lastName" value="<%= user.lastName %>">
    </div>
    
      
      <% if (patient) { %>
        <div>
          <p class="title">Birthdate</p>
          <input class="subtitle" name="birthdate" value="<%= patient.Birthdate %>">
        </div>
        <div>
          <p class="title">City</p>
          <input class="subtitle" name="city" value="<%= patient.City %>">
        </div>
        <div>
          <p class="title">Weight</p>
          <input class="subtitle" name="weight" value="<%= patient.Weight %>">
        </div>
        <div>
          <p class="title">Height</p>
          <input class="subtitle" name="height" value="<%= patient.Height %>">
        </div>
        <div>
          <p class="title">Bloodtype</p>
          <input class="subtitle" name="bloodType" value="<%= patient.Bloodtype %>">
        </div>
      <% } else if (doctor) { %>  
        <div>
          <p class="title">City</p>
          <input class="subtitle" name="city" value="<%= doctor.City %>">
        </div>
        <div>
          <p class="title">Specialization</p>
          <input class="subtitle" name="specialization" value="<%= doctor.Specialization %>">
        </div>
        <div>
          <p class="title">Years of experience</p>
          <input class="subtitle" name="experience" value="<%= doctor.experience %>">
        </div>
      <% } %>
     
          
      <button class="save"><a href="/user/save">Save</a></button>
      <button class="cancel"><a href="/user/profile" onsubmit="return confirm('changes are not saved, continue?')">cancel</a></button>
    </form>
  </div>
<%- include('./layouts/footer') %>