<%- include('./layouts/header') %>
<div class="wrapper">

  <%- include('./layouts/sidebar') %>

  <div class="content">
    <h1 id="id2">Profile</h1>
    <div class="profile-container">
      <div class="profile-line">
        <p class="title">ID</p>
        <p class="subtitle"><%= person.id %></p>
      </div>
      <div class="profile-line">
        <p class="title">Email/username</p>
        <p class="subtitle"><%= person.email %></p>
      </div>
      <div class="profile-line">
        <p class="title">Role</p>
        <p class="subtitle"><%= person.role %></p>
      </div>
    </div>
  </div>
</div>



<%- include('./layouts/footer') %>
