<%- include('./layouts/header') %>

<h1><span class="goback" onclick="window.history.back()">←</span> Profile</h1>

<div class="profile">
  <div>
    <p class="title">First Name</p>
    <p class="subtitle"><%= person.firstName %></p>
  </div>
  <div>
    <p class="title">Last Name</p>
    <p class="subtitle"><%= person.lastName %></p>
  </div>
  <div>
    <p class="title">Email</p>
    <p class="subtitle"><%= person.email %></p>
  </div>
  <div>
    <p class="title">Role</p>
    <p class="subtitle"><%= person.role %></p>
  </div>
  <% if (patient) { %>
    
    <div>
      <p class="title">Birthdate</p>
      <% if (condition4) { %>
        <p class="subtitle" name="birthdate" ><%= patient.birthdate.toLocaleDateString('en-GB') %></p>
      <% } else { %>
        <p class="subtitle" name="birthdate"><%= patient.birthdate %></p>
      <% } %>
       
       
     
    </div>
    <div>
      <p class="title">City</p>
      <pre class="subtitle"><%= patient.city %></pre>
    </div>
    <div>
      <p class="title">Weight</p>
      <pre class="subtitle"><%= patient.weight %></pre>
    </div>
    <div>
      <p class="title">Height</p>
      <pre class="subtitle"><%= patient.height %></pre>
    </div>
    <div>
      <p class="title">Bloodtype</p>
      <pre class="subtitle"><%= patient.bloodType%></pre>
    </div>
  <% } else if (doctor) { %>  
    <div>
      <p class="title">City</p>
      <pre class="subtitle"><%= doctor.city %></pre>
    </div>
    <div>
      <p class="title">Specialization</p>
      <pre class="subtitle"><%= doctor.specialization %></pre>
    </div>
    <div>
      <p class="title">Years of experience</p>
      <pre class="subtitle"><%= doctor.experience %></pre>
    </div>
    <div class="availability">
      <p class="title">Availability</p>
      <ul>
          <% sortedAvailability.forEach(day => { %>
              <li>
                  <p><%= day.dayOfWeek %>:</p>
                  <ul>
                      <% for (let i = 0; i < day.startTimes.length; i++) { %>
                          <li>
                              <p><%= day.startTimes[i] %> - <%= day.endTimes[i] %></p>
                          </li>
                      <% } %>
                  </ul>
              </li>
          <% }) %>
      </ul>
  </div>
  <div class="additionalInfo">
    <p class="title">Additional Infos</p>
    <% if (doctor.additionalInfo && doctor.additionalInfo.length > 0) { %>
        <% doctor.additionalInfo.forEach(info => { %>
            <p><%= info.contenu %></p>
        <% }) %>
    <% } %>
</div>
  <% } %>
 <% if (condition1) { %>
  
  <button class="edit-profile"><a href="/user/edit-profile">Edit Profile</a></button>
 <% } %>
 <% if (condition2) { %>
  <button class="edit-profile"><a href="/admin/edit-profile-user/<%= person.id %>">Edit Profile</a></button>
  
 <% } %>
 <% if (condition3) { %>
  <button> <a href="/user/booking/<%= doctor.id %>">Je prends un rendez-vous</a></button>
 <% } %>
  

</div>




<%- include('./layouts/footer') %>