<%- include('./layouts/header') %>
<div class="wrapper">

  <%- include('./layouts/sidebar') %>

  <div class="content">
    <h1 id="id2">Profile</h1>
    <div class="profile-container">
      <div class="profile-line">
        <p>First Name</p>
        <p><%= person.firstName %></p>
      </div>
      <div class="profile-line">
        <p>Last Name</p>
        <p><%= person.lastName %></p>
      </div>
      <div class="profile-line">
        <p>Email</p>
        <p><%= person.email %></p>
      </div>
      <div class="profile-line">
        <p>Role</p>
        <p><%= person.role %></p>
      </div>
      <% if (patient) { %>
        <div class="profile-line">
          <p>Birthdate</p>
          <pre><%= patient.birthdate %></pre>
        </div>
        <div class="profile-line">
          <p>City</p>
          <pre><%= patient.city %></pre>
        </div>
        <div class="profile-line">
          <p>Weight</p>
          <pre><%= patient.weight %></pre>
        </div>
        <div class="profile-line">
          <p>Height</p>
          <pre><%= patient.height %></pre>
        </div>
        <div class="profile-line">
          <p>Bloodtype</p>
          <pre><%= patient.bloodType %></pre>
        </div>
      <% } else if (doctor) { %>  
        <div class="profile-line">
          <p>City</p>
          <pre><%= doctor.city %></pre>
        </div>
        <div class="profile-line">
          <p>Specialization</p>
          <pre><%= doctor.specialization %></pre>
        </div>
        <div class="profile-line">
          <p>Years of experience</p>
          <pre><%= doctor.experience %></pre>
        </div>
        <div class="profile-line">
          <p>Availability</p>
          <ul>
            <% doctor.availability.forEach(slot => { %>
                <% if (!slot.bookedBy) { %>
                    <li>
                       <p><%= slot.dayOfWeek %>   :   <%= slot.startTime %>-<%= slot.endTime %></p> 
                        
                    </li>
                <% } %>
            <% }) %>
          </ul>
        </div>
      <% } %>
     <% if (condition1) { %>
      
      <button class="edit-profile"><a href="/user/edit-profile">Edit Profile</a></button>
     <% } %>
     <% if (condition2) { %>
      <button class="edit-profile"><a href="/admin/edit-profile-user/<%= person.id %>">Edit Profile</a></button>
      
     <% } %>
     <% if (condition3) { %>
      <button> <a href="/user/booking/<%= doctor.id %>">Je prends un rendez-vous</a></button>
     <% } %>
    </div>
  </div>
</div>

<%- include('./layouts/footer') %>